<div class="container mt-5">
    <h2>Cámara de {{camera.cameraName}}</h2>
    <div *ngIf="camera" class="row animate__animated animate__bounce animate__fadeIn">
        <div class="col-md-12">
            <img src="{{camera.urlImage}}" onerror="this.src='https://imanol-argueso.github.io/traffic-info/assets/img/not-available.jpg'"  class="rounded" alt="Imagen de la cámara de tráfico de {{camera.cameraName}}">
        </div>
        <div class="metadata col-md-12">
            <p><strong>Indetificador:</strong> {{camera.cameraId}}</p>
            <p><strong>Nombre:</strong> {{camera.cameraName}}</p>
            <p><strong>Administración responsable:</strong> {{camera.sourceId}}</p>
            <p><strong>Latitud:</strong> {{camera.latitude}}</p>
            <p><strong>Longitud:</strong> {{camera.longitude}}</p>
            <p><strong>Carretera:</strong> {{camera.road}}</p>
            <p><strong>Kilómetro:</strong> {{camera.kilometer}}</p>
            <p><strong>Dirección:</strong> {{camera.address}}</p>
            <p><strong>Url imagen: </strong> <a href="{{camera.urlImage}}" title="Acceder a la imagen">{{camera.urlImage}}</a></p>
        </div>
        <div class="col-md-12">
            <a class="btn btn-danger" routerLink="/">Back</a>
        </div>
    </div>
</div>
